{% extends 'admin_base.html.twig' %}


{% block content %}
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">Kategori Düzenle</h3>

      <div class="panel col-md-6">

        <div class="panel-body">
          <form method="post">
          <label for="">Üst Kategori</label>
            <select name="category[parentId]" class="form-control">

            {% if category.parentId != 0 %}
              <option value="{{ category.parentID }}">{{ catName.name }}</option>
            {% else %}
              <option value="0">Ana Kategori</option>
            {% endif %}

            {% for cat in catList %}
              <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
            </select>
            <br>
            <label >Kategori İsmi</label>

            <input type="text" name="category[name]" value="{{category.name}}" class="form-control" placeholder="Kategori İsmi">
            <br>
            <label >Anahtar Kelimeler</label>

            <input type="text" name="category[keywords]" value="{{category.keywords}}" class="form-control" placeholder="Keywords">
            <br>
            <label >Açıklama</label>

            <input type="text" name="category[description]" value="{{category.description}}" class="form-control" placeholder="Description">

            <br>
            <label for="">Status</label>
            <select name="category[status]" class="form-control">
              <option value="{{category.status}}">{{category.status}}</option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>

            <button type="submit" class="btn btn-info" style="margin-top: 20px">Kaydet</button>
          </form>
        </div>

      </div>
      <!-- END BASIC TABLE -->

    </div>
  </div>
</div>
<!-- END MAIN -->
{% endblock %}
