{% extends 'admin_base.html.twig' %}


{% block title %}Oyunlar{% endblock %}
{% block content %}
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<h3 class="page-title">Kategoriler</h3>
			<a href="{{ path('category_new') }}" class="btn btn-success mb-10" style="margin-bottom:20px"><i class="fa fa-plus"
				 style="margin-right:10px"></i>Ekle</a>

			<!-- BASIC TABLE -->
			<div class="panel">

				<div class="panel-body">
					<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parent ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.parentId }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.status }}</td>
                <td>{{ category.keywords }}</td>
                <td>{{ category.description }}</td>
                <td><a href="{{ path('category_edit', {'id': category.id , 'pid':category.parentId} )}}"><i class="btn btn-primary fa fa-edit"></i></a></td>
               <td><a href="{{ path("category_delete", {'id': category.id} ) }}" onclick="return confirm('Are you sure!');" ><i class="btn btn-danger fa fa-trash"></i></a> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
