<!doctype html>
<html lang="en">

<head>
  <title>Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="../../../../admin/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../../admin/assets/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../../admin/assets/vendor/linearicons/style.css">
  <link rel="stylesheet" href="../../../../admin/assets/vendor/chartist/css/chartist-custom.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="../../../../admin/assets/css/main.css">
  <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
  <link rel="stylesheet" href="../../../../admin/assets/css/demo.css">
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="../../../../admin/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../../../admin/assets/img/favicon.png">

  <style>
    .brand {
      padding: 16px 40px !important;
    }

    .logo {
      width: 50% !important;
    }

    .aktif {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 100px;
      background: #27ae60;
    }
    .pasif {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 100px;
      background: #c0392b;
    }

  </style>


  <script src="../../../../admin/assets/scripts/ckeditor.js"></script>

</head>

<body>
  <!-- WRAPPER -->
  <div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="brand">
        <a href="/admin"><img src="../../../../images/admin-logo.png" alt="Klorofil Logo" class="img-responsive logo"></a>
      </div>
      <div class="container-fluid">



        <div id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../../../../admin/assets/img/user.png"
                  class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
              </ul>
            </li>
            <!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
      <div class="sidebar-scroll">
        <nav>
          <ul class="nav">
            <li><a href="/admin" class="active"><i class="lnr lnr-home"></i> <span>Anasayfa</span></a></li>
            <li><a href="{{ url('admin') }}/sales" class=""><i class="fa fa-gamepad"></i> <span>Ürünler</span> </a> </li>

            <li><a href="{{ url('admin') }}/user" class=""><i class="lnr lnr-user"></i> <span>Üyeler</span></a></li>
            <li><a href="{{ url('admin') }}/image" class=""><i class="fa fa-image"></i> <span>Resimler</span></a></li>
            <li><a href="{{ url('admin') }}/category" class=""><i class="fa fa-align-justify"></i> <span>Kategoriler</span></a></li>
            <li><a href="{{ url('admin') }}/comments" class=""><i class="fa fa-comments"></i> <span>Comments</span></a></li>
            <li><a href="{{ url('admin') }}/slider" class=""><i class="fa fa-random"></i> <span>Slider</span></a></li>
            <li>
							<a href="#subPages" data-toggle="collapse" class="collapsed" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span>Siparişler</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse" aria-expanded="false" style="height: 0px;">
								<ul class="nav">
									<li><a href="{{ url('admin') }}/orders/new" class="">Yeni Siparişler</a></li>
									<li><a href="{{ url('admin') }}/orders/accepted" class="">Onaylanan Siparişler</a></li>
									<li><a href="{{ url('admin') }}/orders/inshipping" class="">Kargodakiler</a></li>
									<li><a href="{{ url('admin') }}/orders/canceled" class="">Iptal Edilenler</a></li>
									<li><a href="{{ url('admin') }}/orders/completed" class="">Tamamlanan Siparişler</a></li>
								</ul>
							</div>
						</li>
            <li><a href="{{ url('admin') }}/messages" class=""><i class="fa fa-envelope"></i> <span>Messages</span></a></li>
            <li><a href="{{ url('admin') }}/setting" class=""><i class="fa fa-gear"></i> <span>Settings</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- END LEFT SIDEBAR -->

    {% block content %} {% endblock %}


  
  <!-- END WRAPPER -->
  <!-- Javascript -->
  <script src="../../../admin/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../../admin/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../../admin/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../../../admin/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <script src="../../../admin/assets/vendor/chartist/js/chartist.min.js"></script>
  <script src="../../../admin/assets/scripts/klorofil-common.js"></script>
</body>

</html>