<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  {% block stylesheets %}{% endblock %}
  <style>
          
/* SLİDER */

.slider {
  width: 500px;
  height: 300px;
}

.carousel {
  height: 100%;
}

.carousel-cell {
  width: 500px; /* full width */
  margin-right: 10px;
}

.slider-img {
  width: 100%;
  
}

.carousel-cell {
  outline: none;
}

.flickity-page-dots {
 display: none;
}
</style>
</head>

<body>
  {% include 'components/header.html.twig' %}

  <div class="container">
    <div class="game-main">
      <div class="game-title">
        <h3>{{product.name}}</h3>
      </div>
      <div class="game-bottom">
        <div class="game-left">
          <!-- ***** SLIDER-START ****** -->
          <div class="slider">
            <div class="carousel" data-flickity='{ "autoPlay": true }'>
              {% for image in images %}
                 <div class="carousel-cell">
                  <img class="slider-img" src="{{ asset('images') }}/{{image.name}}">
                </div>
              {% endfor %}
            </div>
        </div>
        <!-- ***** SLIDER-END ****** -->
        </div>
        <div class="game-right">
          <div class="seller">
            <div class="seller-name">
              {{user.name}}
            </div>
          </div>
          <div class="price">
            {{product.price}}.00 ₺
          </div>
          <form action="{{ path("shop_cart_new")}}" method="POST">
                  <input type="hidden" name="productid" value="{{ product.id }}">
                  <input type="hidden" name="name" value="{{ product.name}}">
                  <input type="hidden" name="price" value="{{ product.price}}">
                  
                  <input type="hidden" name="userid" value="1">
                  <div class="buy">
                    <button class="buy__btn" style="cursor:pointer" type="submit"><i style="color:white" class="fas fa-shopping-cart"></i> Satın Al</button>
                  </div>
                </form>
        </div>
      </div>
    </div>
  
    <div class="desc">
      <h3 class="desc__title">Açıklama</h3>
          {{product.description | raw}}
        </div>

    <div class="comments-wrapper">
      <h3>Üye Yorumları</h3>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       <form class="yorum-form" action="{{ path('yorum-yap')}}" method="POST">
          <textarea name="comments[comment]" id="comment" cols="30" rows="3" placeholder="Yorumunuz"></textarea>
         
          <input type="hidden" name="token" value="{{ csrf_token('comment-form') }}">
   
          <input type="hidden" name="comments[status]" value="false">
          <input type="hidden" name="comments[username]" value="{{app.user.name}}">
          <input type="hidden" name="comments[userid]" value="{{product.userid}}">
          <input type="hidden" name="urun_id" value="{{ product.id }}">

          <button class="btn-yorum" type="submit">Yorum Gönder</button>
    
        </form>
        {% else %}
        <a class="yorum-link" href="/login">Yorum göndermek için giriş yapın.</a>
      {% endif %}

        <div class="comments">
            {% for comment in comments %}

          <div class="comment">
                <div class="comment__name">
                  {{ comment.username }} <span class="dedi">dedi ki:</span>
                </div>
                <div class="comment__detay">
                    {{ comment.comment }}
                </div>
          </div>
							{% endfor %}

        </div>
    
    </div>

    
  </div>

  {% include 'components/footer.html.twig' %}

  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

</html>