<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  {% block stylesheets %}{% endblock %}
  <style>
     #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 500px;
  margin-bottom: 20px;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #df7d26;
  color: white;
}     

</style>
</head>

<body>
  {% include 'components/header.html.twig' %}

  <div class="container">
    <div class="game-main">
      <div class="game-title">
        <h3>Siparis Detay</h3>
      </div>
      <div class="game-bottom">
        <div class="sidebar">
             {{ include('user/usersidebar.html.twig') }}
        </div>
        <div class="tables">
            <table id="customers">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th>Userid</th>
                        <td>{{ order.userid }}</td>
                    </tr>
                    <tr>
                        <th>Toplam Tutar</th>
                        <td>{{ order.amount }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ order.name }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ order.address }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ order.city }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ order.phone }}</td>
                    </tr>
                    <tr>
                        <th>Shipinfo</th>
                        <td>{{ order.shipinfo }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ order.status }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ order.note }}</td>
                    </tr>
                </tbody>
           </table>
        
            <table id="customers">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for detail in orderdetails %}
                    <tr>
                        <td>{{ detail.id }}</td>
                        <td>{{ detail.name }}</td>
                        <td>{{ detail.quantity }}</td>
                    </tr>
               
                {% endfor %}
                </tbody>
            </table>
        </div>
  
      </div>

 
    </div>

  {% include 'components/footer.html.twig' %}

  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

</html>