{% extends 'admin_base.html.twig' %}


{% block title %}Ürünler{% endblock %}
{% block content %}
<!-- MAIN -->
<div class="main">
  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="container-fluid">
      <h3 class="page-title">Ürün Düzenle</h3>

      <div class="panel col-md-6">

        <div class="panel-body">
          <form method="post">
            <input type="text" name="sales[name]" value="{{sale.name}}" class="form-control" placeholder="Ürün Adı">
            <br>
            <input type="number" name="sales[price]" value="{{sale.price}}" class="form-control" placeholder="Ürün Fiyatı">
            <br>
            {# <input type="text" name="sales[image]" value="{{sale.image}}" class="form-control" placeholder="Resim Yolu"> #}
            <input type="hidden" name="sales[status]"  value="false">
            <input type="hidden" name="sales[username]"  value="{{sale.username}}">


            <br>
            <label for="">Kategori</label>
           <select name="sales[category]" class="form-control">
             {% for cat in catList %}
              
                <option value="{{ cat.id }}">{{ cat.name }}</option>

              {% endfor %}
            </select>
            <br>
            <label for="">Açıklama</label>

            <br>

            <textarea name="sales[description]" id="editor">
               {{sale.description}}
            </textarea>

            <script>
                        ClassicEditor
                            .create( document.querySelector( '#editor' ) )
                            .catch( error => {
                                console.error( error );
                            } );
            </script>

            <button type="submit" class="btn btn-info" style="margin-top: 20px">Kaydet</button>
          </form>
        </div>

      </div>
      <!-- END BASIC TABLE -->

    </div>
  </div>
</div>
<!-- END MAIN -->
{% endblock %}