{% extends 'admin_base.html.twig' %}


{% block title %}Ürünler{% endblock %}
{% block content %}
<!-- MAIN -->
<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<h3 class="page-title">Ürünler</h3>
			<a href="{{ path('add-game') }}" class="btn btn-success mb-10" style="margin-bottom:20px"><i class="fa fa-plus"
				 style="margin-right:10px"></i>Ekle</a>

			<!-- BASIC TABLE -->
			<div class="panel">

				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Image</th>
								<th>Price</th>
								<th>Status</th>
								<th>Category</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for sale in sales %}
							<tr>
								<td>{{sale.id}}</td>
								<td>{{sale.name}}</td>
								<td>{{sale.name}}</td>
								{# <td>
										{% if sale.image == null %}
											<i fontSize="50" class="fa fa-image"></i>
										{% else %}
										<img src="{{ asset('images') }}/{{sale.image}}" alt="" height="40">
										{% endif %}
								</td> #}
								<td>{{sale.price}}</td>
								{% if sale.status == "true" %}
									<td>
										<a href="{{ path("update-status", {'id': sale.id, 'status':'false'} ) }}" class="aktif" href="#"></a>
									</td>
								{% elseif sale.status == "false" %}
									<td>
										<a href="{{ path("update-status", {'id': sale.id, 'status':'true'} ) }}" class="pasif" href="#"></a>
									</td>
								{% endif %}
								
								<td>PS4</td>
								<td><a href="{{ path("edit-sale", {'id': sale.id} ) }}"><i class="btn btn-primary fa fa-edit"></i></a></td>
								<td><a href="{{ path("delete-sale", {'id': sale.id} ) }}" onclick="return confirm('Are you sure!');" ><i class="btn btn-danger fa fa-trash"></i></a> </td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!-- END BASIC TABLE -->

		</div>
	</div>
</div>
<!-- END MAIN -->
{% endblock %}